<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css') }}">

	
	{% if title %}
	<title> Flask Blog -{{title}}</title>
	{%else%}
	<title> Flask Blog </title>
	{%endif%}

</head>
<style type="text/css">



</style>
<body class="body">
	<header class='header'>
		<div class="header-brand">
			<a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a>
		</div>
		<div class="header-sites">
			<a href="{{url_for('main.hello')}}">Home</a>
			<a href="{{ url_for('main.about') }}">About</a>
		</div>
		<div class="header-id">
			{% if current_user.is_authenticated %}
				<a href="{{ url_for('posts.new_post') }}">New Post</a>
				<a href="{{ url_for('users.account') }}">Account</a>
				<a href="{{ url_for('users.logout') }}">Logout</a>
				
			{% else %}
				<a href="{{ url_for('users.login') }}">Login</a>
				<a href="{{ url_for('users.register') }}">Register</a>
			{% endif %}
		</div>
					
				
	</header>
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for cateogry, message in messages %}
							<div class="alert alert-{{ cateogry }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith%}
				{% block content %}{% endblock %}
			</div>
			<div class="col-md-4">
				<div class="content-section">
					<h4>Sidebar</h4>
					<p class="text-muted">Any informative entries are gladly welcome.
						<ul>
							<li class="list-group-item list-group-item-light">Latest Posts</li>
							<li class="list-group-item list-group-item-light">Announcements</li>
							<li class="list-group-item list-group-item-light">Calendars</li>
							<li class="list-group-item list-group-item-light">Events</li>
						</ul>
					</p>
				</div>				
			</div>
		</div>
	</main>

	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="	sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>