{% extends 'layout.html' %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{form.hidden_tag() }}
			<fieldset class="form-group" style="margin-bottom: 0">
				<legend class="border-bottom mb-4">Password Reset</legend>
				
				<div class="form-group" style="margin-bottom: 0.25rem">
					{{ form.password.label(class="form-control-label", style="margin-bottom:0") }}
					
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-s is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-s") }}
					{% endif %}
				</div>
				<div class="form-group" style="margin-bottom: 0.25rem">
					{{ form.confirm_password.label(class="form-control-label", style="margin-bottom:0") }}
					
					{% if form.confirm_password.errors %}
						{{ form.confirm_password(class="form-control form-control-s is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_password(class="form-control form-control-s") }}
					{% endif %}
				</div>
				
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}
